#root {
  position: relative;
}

.crt-style {
	padding-bottom: 300px;
}

.profile-block {
	background-color: rgb(50,255,0);
}

.module {
	height: 100%;
	width: 100%;
	border: 1px solid rgb(50,255,0);
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
}

.moduleDescription {
	border: 2px dashed rgb(50,255,0);
	position: absolute;
	top: 90%;
	left: 90%;
	background: black;
	width: 200%;
	min-height: 100%;
	/*opacity: 0.95;*/
}

.module .module-icon {
	display: inline;
	height: 100%;
	vertical-align: middle;
}

.border {
	border: 1px solid black;
	border-radius: 5px;
}

.module-text {
	margin: 0;
}

.module-header {
	margin-top: 5px;
	margin-bottom: 5px;
}

.react-grid-item:hover{
	z-index: 1 !important;
}

.profile-view {
	border: 1px solid limegreen;
	max-width: 100%;
}

.module-icon-row {
	margin-top: 10%;
}

div[class*="col"] {
	border: 1px solid rgb(50,255,0);
	height: 20vh;
	overflow: scroll;
}

/*div {
	font-family: 'VT323', monospace !important;
}*/
